@import '@syncfusion/ej2-angular-popups/styles/fabric';

.user-badge{
  display: flex;
}

.user-badge__initial{
  align-items: center;
  background-color: var(--color-light-grey);
  border-radius: 50%;
  display: inline-flex;
  font-size: .65rem;
  font-weight: 600;
  height: 22px;
  justify-content: center;
  margin-right: 9px;
  width: 22px;
}